.page.theme_light {
  --font-family: "IBM Plex mono", sans-serif;
  --background-photo: url(../images/cover-image-light.png);
  --font-color: #353430;
  --background-color: #fff1f7;
  --border-style: 1px solid #353430;
  --border-style__hover: 1px solid rgba(50, 49, 45, 0.4);
  --title-decor: #ff8dcb;
  --stylish-text__color: #ffc2e6;
  --answer-title__color: #000028;
  --answer-description__color: #353430;
  --action-border: #353430;
  --link-shadow: rgba(255, 141, 203, 0.8);
  --display-rec: none;

}
