/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  position: relative;
  overflow-x: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-family);
  color: var(--font-color);
  margin: 0;
  background-color: var(--background-color);
}

/* сделал для более красивого дизайна */
.backround-image__header::before {
  content: "";
  position: absolute;
  background-image: var(--background-photo);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  /* тут я добавил к размеру хедера его паддинг 20px */
  block-size: clamp(688px, 788px, 1048px);
  inline-size: 100vw;
}

.header {
  padding-block-start: 20px;
  padding-block-end: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  block-size: 768px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.centering {
  margin: auto;
  max-inline-size: 1024px;
}

/* декоративный элемент верхний */
.decorated-zone::after {
  position: absolute;
  content: "";
  top: max(10px, 20px);
  right: max(10px, 20px);
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-top: var(--border-style);
  border-right: var(--border-style);
}

/* декоративный элемент нижний */
.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: max(10px, 20px);
  left: max(10px, 20px);
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-bottom: var(--border-style);
  border-left: var(--border-style);
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-button {
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  block-size: 26px;
  background-color: transparent;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-button_active {
  border: var(--border-style);
}

.header__theme-menu-button:hover {
  border: var(--border-style__hover);
  cursor: pointer;
}

/* сделал так, чтобы не перебивались цвета границ у активной кнопки */
.header__theme-menu-button_active:hover {
  border: var(--border-style);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: var(--border-style);
}

.header__decoration-rec {
  list-style: none;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

/* Декоративный элемент REC */
.marker-rec::before {
  content: "rec";
  position: absolute;
  top: max(10px, 20px);
  right: max(38px, 50px);
}

/* Декоративный элемент точка */
.marker-rec::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  top: max(18px, 28px);
  right: max(19px, 29px);
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--font-color);
  filter: drop-shadow(0px 0px 4px var(--font-color));
}

.page__title {
  align-self: flex-start;
  margin-inline-start: -20px;
  word-spacing: 0.2rem;
}

.stylish__text {
  color: var(--stylish-text__color);
  text-shadow: 4px 4px 0px #ff0070;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.page__description {
  align-self: center;
  justify-self: end;
  color: #000028;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  inline-size: 50%;
  /* 130% */
}

.title-decor {
  background-color: var(--title-decor);
}

.hard-to-focus__section {
  margin-block-start: 60px;
}

.main {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  background-color: var(--background-color);
}

.first-question__section {
  margin-block-start: max(40px, 60px);
  display: grid;
  grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
  gap: 20px;
}

.question__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

.column__answer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer__title {
  display: block;
  color: var(--answer-title__color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.answer__description {
  color: var(--answer-description__color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--link-shadow);
}

.link:hover {
  border-bottom: 1px solid var(--action-border);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--action-border);
  outline-offset: -2px;
}

.second-question__section {
  margin-block-start: max(50px, 80px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second__question-title {
  inline-size: 30%;
  justify-self: flex-start;
}

/* такое ощущение, что я делаю костыли */
.second__card-answer-size {
  inline-size: 315px;
  block-size: 384px;
}

.row__answer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.third-question__section {
  display: grid;
  margin-block-start: 125px;
  grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
  gap: 20px;
}

.smooth_font {
  color: #000028;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
}

.pictures__section {
  margin-block-start: max(50px, 80px);
  display: flex;
  flex-direction: column;
  gap: max(10px, 20px);
}

.pictures__container {
  block-size: 130%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(auto, 260px) minmax(auto, 315px) minmax( auto, 435px);
  gap: 20px;
}

.sunset__picture {

  grid-column: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.ice-cream__picture {

  grid-row: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

}

.tape__picture {

  grid-row: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

}

.books__picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

}

.street__picture {
  grid-column: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-block-start: max(40px, 60px);
  block-size: clamp(668px, 768px, 1024px);
  inline-size: 100%;
}

.footer::after {
  position: absolute;
  content: "";
  top: 20px;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-top: var(--border-style);
  border-right: var(--border-style);
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-bottom: var(--border-style);
  border-left: var(--border-style);
}


@media (max-width: 1000px) {
  .row__answer-container {
    flex-direction: column;
    gap: 20px;

  }

  .second__card-answer-size {
    inline-size: 100%;
    block-size: 174px;
  }
}

@media (max-width: 768px) {

  /* .header {
    grid-template-rows: max-content min-content 1fr;
    } */

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list { 
   
    grid-template-columns: none;
    grid-template-rows: repeat(3, 26px);
  }


  .page__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  /* .second__question-title {
    inline-size: 236px;
  } */

  /* .page__description {
    block-size: 117px;
  } */




}

@media (max-width: 745px) {


  .first-question__section {
    grid-template-columns: none;
    grid-template-rows: 47px auto;
  }
  
  .third-question__section {
    grid-template-columns: none;
    grid-template-rows: 47px auto;
  }


  
  
}

@media (max-width: 700px) {
  .page__description {
    justify-self: center;
    inline-size: 100%;
  }

}

@media (max-width: 375px) {
  .page {
    justify-content: center;
  }

  .row__answer-container {
    gap: 20px;

  }

  .second__card-answer-size {
    block-size: 355px;
  }


  .pictures__container {
    block-size: 130%;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
  }
  
  .sunset__picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.ice-cream__picture {
  grid-row: 2;
  grid-column: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

}

.tape__picture {

  grid-row: 3;
  grid-column: span 2;

  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

}

.books__picture {
  grid-row: 4;
  grid-column: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

}

.street__picture {
  grid-column: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}


}

