/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  overflow-x: hidden;
  background-image: var(--background-photo);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-block-start: 20px;
  padding-block-end: 20px;
  font-family: "IBM Plex mono", sans-serif;
  color: var(--font-color);
  margin: 0;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  margin-inline-start: 1rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}


.header__theme-menu-button {
  padding-block-start: 2px;
  padding-block-end: 2px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}

.decorated-rec {
  position: absolute;
  right: 0;
  
  
}

.decorated-rec::before {

}

.decorated-rec::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  right: 0;
  text-transform: uppercase;
}

.header__theme-menu-button:hover {
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  /* Как лушче поступить с outline? Оставить так? */
  outline: none;
  border-bottom: 1px solid #ff0070;
}

.header__theme-menu-button_active {
  border: 1px solid #ff0070;
}

/* Чтобы не перебивался стиль для active */
.header__theme-menu-button_active:hover {
  border: 1px solid #ff0070;
}
