/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  position: relative;
  overflow-x: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "IBM Plex mono", sans-serif;
  color: #ff0070;
  margin: 0;
  background-color: #000028;
}

/* сделал для более красивого дизайна */
.dark__backround-image-header::before {
  content: "";
  position: absolute;
  background-image: var(--background-photo);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  /* тут я добавил к размеру хедера его паддинг 20px */
  block-size: clamp(688px, 788px, 1048px);
  width: 100vw;
}

.header {
  padding-block-start: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  background-size: contain;
  block-size: clamp(668px, 768px, 1024px);
  position: relative;
  display: grid;
  grid-template-rows: 0.1fr min-content 1fr;
  margin-block-end: 20px;

}

.centering {
  margin: auto;
  max-inline-size: 1024px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  top: max(10px, 20px);
  right: max(10px, 20px);
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
}

/* декоративный элемент нижний */
.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: max(10px, 20px);
  left: max(10px, 20px);
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
}

.header__theme-menu {
  display: grid;
}

.header__theme-menu-list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-button {
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  height: 26px;
  background-color: transparent;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid #ff0070;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

/* сделал так, чтобы не перебивались цвета границ у активной кнопки */
.header__theme-menu-button_active:hover {
  border: 1px solid #ff0070;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid #ff0070;
}

.header__decoration-rec {
  margin: 0;
  margin-block-start: 1rem;
  list-style: none;
  padding-inline-start: 0;
  right: 0;
  color: #ff0070;
  text-align: center;
  font-family: "IBM Plex Mono", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  /* 138.889% */
}

/* Декоративный элемент REC */
.marker-rec::before {
  content: "rec";
  position: absolute;
  top: max(10px, 20px);
  right: max(38px, 50px);
}

/* Декоративный элемент точка */
.marker-rec::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  top: max(18px, 28px);
  right: max(19px, 29px);
  inline-size: 9px;
  block-size: 9px;
  background-color: #ff0070;
  filter: drop-shadow(0px 0px 4px #ff0070);
}

.page__title {
  margin-inline-start: -20px;
  margin-block-start: 16rem;
  word-spacing: 0.2rem;
}

.stylish__text {
  color: #db00ff;
  text-shadow: 4px 4px 0px #ff0070;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.page__description {
  margin-block-start: 7.2rem;
  margin-block-end: clamp(66px, 134px, 183px);
  justify-self: end;
  color: #000028;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  max-inline-size: 491px;
  min-inline-size: 355px;
  max-block-size: 117px;
  /* 130% */
}

.title-decor {
  background-color: #ff0070;
}

.hard-to-focus__section {
  margin-block-start: 60px;
}

.main {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  background-color: #000028;
  height: 100%;
}

.first-question__section {
  margin-block-start: max(40px, 60px);
  display: grid;
  grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
  gap: 20px;
}

.question__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

.column__answer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer__title {
  display: block;
  color: #000028;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  /* 130% */
}

.answer__description {
  color: #F1B2CE;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0px rgba(255, 0, 111, 0.80);
}

.link:hover {
  border-bottom: 1px solid #F1B2CE;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid #F1B2CE;
  outline-offset: -2px;
}

.second-question__section {
  margin-block-start: max(50px, 80px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.second__question-title {
  inline-size: clamp(236px, 315px, 355px);
  justify-self: flex-start;
}

/* такое ощущение, что я делаю костыли */
.second__card-answer-size {
  inline-size: 315px;
  block-size: 384px;
}

.row__answer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.third-question__section {
  display: grid;
  margin-block-start: max(125px);
  grid-template-columns: minmax(236px, 315px) minmax(472px, 649px);
  gap: 20px;
}

.smooth_font {
  color: #000028;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  /* 130% */
}

.pictures__section {
  margin-block-start: max(50px, 80px);
  display: flex;
  flex-direction: column;
  gap: max(10px, 20px);
}

.pictures__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(auto, 260px) minmax(auto, 315px) minmax( auto, 435px);
  gap: 20px;
}

.sunset__picture {

  grid-column: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.ice-cream__picture {

  grid-row: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

}

.tape__picture {

  grid-row: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

}

.books__picture {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

}

.street__picture {
  grid-column: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-block-start: max(40px, 60px);
  block-size: clamp(668px, 768px, 1024px);
  inline-size: 100%;
}

.footer::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
}


@media (max-width: 375px) {
  .page {
    justify-content: center;
  }

  .page__description {
    justify-self: center;
  }

  .row__answer-container {
    gap: 20px;

  }

  .second__card-answer-size {
    block-size: 355px;
  }


}


@media (max-width: 768px) {

  .page__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .page__description {
    block-size: 117px;
  }

  .row__answer-container {
    flex-direction: column;
    gap: 20px;

  }

  .second__card-answer-size {
    inline-size: 100%;
    block-size: 174px;
  }
}